* {
    background-color: rgb(70, 159, 174);
    margin-left: 20px;
    margin-top: 10px;
}

#newNote {
    padding: 10px;
    border: 1px;
    border-color:rgb(51, 146, 146);
    border-style:solid;
}